{% extends "base.html" %}
{% block title %}Вход{% endblock %}

{% block content %}
<div class="row justify-content-center">
  <div class="col-12 col-md-6 col-lg-5">
    <h1 class="h3 mb-3">Вход</h1>

    <div class="card">
      <div class="card-body">
        <form method="post" novalidate>
          {% csrf_token %}

          <div class="mb-3">
            <label class="form-label">Логин</label>
            <input class="form-control" type="text" name="username" required autocomplete="username">
          </div>

          <div class="mb-3">
            <label class="form-label">Пароль</label>
            <input class="form-control" type="password" name="password" required autocomplete="current-password">
          </div>

          {% if form.errors %}
            <div class="alert alert-danger">Неверный логин или пароль.</div>
          {% endif %}

          <input type="hidden" name="next" value="{{ next }}">
          <button class="btn btn-primary w-100" type="submit">Войти</button>
        </form>
      </div>
    </div>

    <div class="text-body-secondary small mt-3">
      Нет аккаунта? <a href="{% url 'store:signup' %}">Зарегистрироваться</a>
    </div>
  </div>
</div>
{% endblock %}
